{% extends "base.html" %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<html><head>

    <title>Flasky</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/login.css">

<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">

  </head>
  <body>
    
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Avaliação contínua: <b>Aula 050.B</b></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </div>
</div>

    
<div class="container">
    

    

<div class="container">

    <form action="/login" method="post" class="form-signin">
      <input id="csrf_token" name="csrf_token" type="hidden" value="Ijg0NTQ4NjZlNzI5ZjYzNTU4OWZjNDI1NzgwYWViMjMxZGFmM2ZhMzUi.ZfOV8A.Jz7Z1PcyM7mXEYvnYaAX9fNVkp8">
      <h2 class="form-signin-heading">Login:</h2>
      <input class="input-block-level" id="username" name="username" placeholder="Usuário ou e-mail" required="" type="text" value="">
      <input class="input-block-level" id="password" name="password" placeholder="Informe a sua senha" required="" type="password" value="">
      <input class="btn btn-large btn-primary" id="submit" name="submit" type="submit" value="Enviar">
    </form>
</div>
<br>
<p>The local date and time is <span class="" data-timestamp="2024-03-15T00:27:28Z" data-function="format" data-format="LLL" data-refresh="0" style="">March 14, 2024 9:27 PM</span>.</p>
<p>That was <span class="" data-timestamp="2024-03-15T00:27:28Z" data-function="fromNow" data-refresh="60000" style="">a few seconds ago</span>.</p>


</div>


    

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js" integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg==" crossorigin="anonymous"></script>

<script>
moment.locale("en");
function flask_moment_render(elem) {{
    const timestamp = moment(elem.dataset.timestamp);
    const func = elem.dataset.function;
    const format = elem.dataset.format;
    const timestamp2 = elem.dataset.timestamp2;
    const no_suffix = elem.dataset.nosuffix;
    const units = elem.dataset.units;
    let args = [];
    if (format)
        args.push(format);
    if (timestamp2)
        args.push(moment(timestamp2));
    if (no_suffix)
        args.push(no_suffix);
    if (units)
        args.push(units);
    elem.textContent = timestamp[func].apply(timestamp, args);
    elem.classList.remove('flask-moment');
    elem.style.display = "";
}}
function flask_moment_render_all() {{
    const moments = document.querySelectorAll('.flask-moment');
    moments.forEach(function(moment) {{
        flask_moment_render(moment);
        const refresh = moment.dataset.refresh;
        if (refresh && refresh > 0) {{
            (function(elem, interval) {{
                setInterval(function() {{
                    flask_moment_render(elem);
                }}, interval);
            }})(moment, refresh);
        }}
    }})
}}
document.addEventListener("DOMContentLoaded", flask_moment_render_all);
</script>


  

</body></html>
{% endblock %}